* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

nav {
  padding: 20px 10px;
  color: white;
  background: rgb(22, 38, 112);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

button {
  border-radius: 5px;
  letter-spacing: 1px;
}

.form {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.form input {
  padding: 5px;
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 1.5px solid rgb(22, 38, 112);
}

.form button {
  margin-left: 10px;
  color: white;
  background: #0c811c;
  padding: 5px 10px;
  border: none;
}

.container {
  display: flex;
  justify-content: center;
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.note {
  width: 20%;
  margin: 10px;
  padding: 13px;
  border-radius: 5px;
  border: solid lightgray 1.5px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.btn-container button {
  margin-right: 10px;
}

.updateBox {
  margin: 10vh 90vh;
  padding: 0.5rem;
  text-align: center;
}

.edit {
  color: white;
  background: rgb(221, 192, 30);
  padding: 5px 10px;
  border: none;
}

.delete {
  color: white;
  background: #dc3545;
  padding: 5px 10px;
  border: none;
}

@media (max-width: 768px) {
  .notes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .note {
    width: 200px;
  }

  .note-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .updateBox {
    margin: 16% 0;
    width: 200px;
    border-left: 0.5px solid lightgray;
    padding: 0.5rem 0;
    text-align: center;
  } 
}
